<div class="code-qr-scan-container">
  <div class="code-qr-scan-widokskanukodu-q-r">
    <div class="code-qr-scan-frame190">
      <span class="code-qr-scan-text">
        <span class="code-qr-scan-text01">
          Poniższe dane właściciela kodu QR są udostępnione tylko w przypadku
          <span [innerHTML]="rawixr7"></span>
        </span>
        <span>nagłego wypadku i potrzeby pomocy właścicielowi kodu QR.</span>
      </span>
      <div class="code-qr-scan-frame193">
        <img
          src="/assets/playground_assets/vector4230-amm.svg"
          alt="Vector4230"
          class="code-qr-scan-vector"
        />
        <span class="code-qr-scan-text03">
          <span>
            Nie wolno korzystać z nich ani udostępniać ich w żadnym innym celu.
          </span>
        </span>
      </div>
    </div>
    <div class="code-qr-scan-frame191">
      <span class="code-qr-scan-text05">
        <span>Ważne informacje o osobie:</span>
      </span>
      <span class="code-qr-scan-text07">
        <span>
          <span>
            Content z pola “Dodatkowe informacje i instrukcje”.
            <span [innerHTML]="rawqfhf"></span>
          </span>
          <br />
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </span>
      </span>
    </div>
    <div class="code-qr-scan-frame192">
      <span class="code-qr-scan-text12"><span>Dane osobowe:</span></span>
      <div class="code-qr-scan-frame182">
        <img
          src="/assets/playground_assets/line196837-9iwo.svg"
          alt="Line196837"
          class="code-qr-scan-line19"
        />
        <div class="code-qr-scan-frame178">
          <span class="code-qr-scan-text14"><span>Imię:</span></span>
          <span class="code-qr-scan-text16"><span>Piotr</span></span>
        </div>
        <img
          src="/assets/playground_assets/line156837-bhqp.svg"
          alt="Line156837"
          class="code-qr-scan-line15"
        />
        <div class="code-qr-scan-frame179">
          <span class="code-qr-scan-text18"><span>Nazwisko:</span></span>
          <span class="code-qr-scan-text20"><span>Nowak</span></span>
        </div>
        <img
          src="/assets/playground_assets/line166837-edtb.svg"
          alt="Line166837"
          class="code-qr-scan-line16"
        />
        <div class="code-qr-scan-frame180">
          <span class="code-qr-scan-text22"><span>Rok urodzenia:</span></span>
          <span class="code-qr-scan-text24"><span>1957</span></span>
        </div>
        <img
          src="/assets/playground_assets/line176837-ga6i.svg"
          alt="Line176837"
          class="code-qr-scan-line17"
        />
        <div class="code-qr-scan-frame181">
          <span class="code-qr-scan-text26"><span>PESEL:</span></span>
          <span class="code-qr-scan-text28"><span>57020899574</span></span>
        </div>
        <img
          src="/assets/playground_assets/line186837-04d8.svg"
          alt="Line186837"
          class="code-qr-scan-line18"
        />
        <div class="code-qr-scan-frame1821">
          <span class="code-qr-scan-text30">
            <span>Adres zamieszkania:</span>
          </span>
          <span class="code-qr-scan-text32">
            <span>
              <span>ul. Szeroka 57</span>
              <br />
              <span>30-001 Kraków</span>
              <br />
              <span>woj. Małopolskie</span>
            </span>
          </span>
        </div>
        <img
          src="/assets/playground_assets/line206837-zkd.svg"
          alt="Line206837"
          class="code-qr-scan-line20"
        />
        <div class="code-qr-scan-frame183">
          <span class="code-qr-scan-text39">
            <span>Numer telefonu do osoby kontaktowej:</span>
          </span>
          <span class="code-qr-scan-text41">
            <span>
              <span>+48 602 500 600</span>
              <br />
              <span>+48 604 888 777</span>
            </span>
          </span>
        </div>
        <img
          src="/assets/playground_assets/line216837-bri.svg"
          alt="Line216837"
          class="code-qr-scan-line21"
        />
        <div class="code-qr-scan-frame177">
          <span class="code-qr-scan-text46"><span>Grupa krwi</span></span>
          <span class="code-qr-scan-text48"><span>AB Rh+</span></span>
        </div>
        <img
          src="/assets/playground_assets/line226837-qf0c.svg"
          alt="Line226837"
          class="code-qr-scan-line22"
        />
        <div class="code-qr-scan-frame185">
          <span class="code-qr-scan-text50"><span>Alergie na leki:</span></span>
          <span class="code-qr-scan-text52"><span>Content, Content</span></span>
        </div>
        <img
          src="/assets/playground_assets/line236837-jvpxe.svg"
          alt="Line236837"
          class="code-qr-scan-line23"
        />
        <div class="code-qr-scan-frame186">
          <span class="code-qr-scan-text54">
            <span>Alergie pokarmowe:</span>
          </span>
          <span class="code-qr-scan-text56"><span>Content, Content</span></span>
        </div>
        <img
          src="/assets/playground_assets/line246837-0iw9.svg"
          alt="Line246837"
          class="code-qr-scan-line24"
        />
        <div class="code-qr-scan-frame187">
          <span class="code-qr-scan-text58"><span>Inne alergie:</span></span>
          <span class="code-qr-scan-text60"><span>Content, Content</span></span>
        </div>
        <img
          src="/assets/playground_assets/line256837-rike.svg"
          alt="Line256837"
          class="code-qr-scan-line25"
        />
        <div class="code-qr-scan-frame184">
          <span class="code-qr-scan-text62">
            <span>Choroby przewlekłe:</span>
          </span>
          <span class="code-qr-scan-text64">
            <span>
              Content, Content, Content, Content, Content, Content, Content,
              Content, Content
            </span>
          </span>
        </div>
        <img
          src="/assets/playground_assets/line266837-ldqe.svg"
          alt="Line266837"
          class="code-qr-scan-line26"
        />
        <div class="code-qr-scan-frame188">
          <span class="code-qr-scan-text66">
            <span>Informacja o chorobach wirusowych:</span>
          </span>
          <span class="code-qr-scan-text68"><span>Content</span></span>
        </div>
        <img
          src="/assets/playground_assets/line276837-at3.svg"
          alt="Line276837"
          class="code-qr-scan-line27"
        />
        <div class="code-qr-scan-frame189">
          <span class="code-qr-scan-text70">
            <span>Przyjmowane leki stałe:</span>
          </span>
          <span class="code-qr-scan-text72">
            <span>
              Content, Content, Content, Content, Content, Content, Content,
              Content, Content, Content
            </span>
          </span>
        </div>
        <img
          src="/assets/playground_assets/line286837-50uu.svg"
          alt="Line286837"
          class="code-qr-scan-line28"
        />
        <span class="code-qr-scan-text74">
          <span>
            <span>*Data ostatniej aktualizacji danych:</span>
            <br />
            <span>dd.mm.yyyy</span>
          </span>
        </span>
      </div>
    </div>
    <div class="code-qr-scan-group50">
      <button class="code-qr-scan-button">
        <img
          src="/assets/playground_assets/component2i683-215q.svg"
          alt="Component2I683"
          class="code-qr-scan-component2"
        />
        <span class="code-qr-scan-text79">
          <span>Zadzwoń do osoby kontaktowej (1)</span>
        </span>
      </button>
      <button class="code-qr-scan-button1">
        <img
          src="/assets/playground_assets/component2i683-41rc.svg"
          alt="Component2I683"
          class="code-qr-scan-component21"
        />
        <span class="code-qr-scan-text81">
          <span>Zadzwoń do osoby kontaktowej (2)</span>
        </span>
      </button>
    </div>
    <div class="code-qr-scan-frame225">
      <div class="code-qr-scan-frame224">
        <div class="code-qr-scan-group43">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/bc38ea7f-8f8f-461f-b791-8ef844b1c46e?org_if_sml=1163"
            alt="Rectangle796837"
            class="code-qr-scan-rectangle79"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/c65b5587-8594-4aba-819a-6dc083d9f2b2?org_if_sml=1162"
            alt="Rectangle836837"
            class="code-qr-scan-rectangle83"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/bc1890ae-4d8f-449c-b931-03bea7de6a41?org_if_sml=1160"
            alt="Rectangle816837"
            class="code-qr-scan-rectangle81"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/199bfb4c-201c-4d1a-9589-816cdf0bd710?org_if_sml=1161"
            alt="Rectangle846837"
            class="code-qr-scan-rectangle84"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/5eaf3c1a-b20b-4fe3-9537-7140dbac5d67?org_if_sml=1123"
            alt="Rectangle806837"
            class="code-qr-scan-rectangle80"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/77259b57-026d-45aa-aaca-231f91ea6fe6?org_if_sml=1123"
            alt="Rectangle856837"
            class="code-qr-scan-rectangle85"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c0b368fa-7a6a-43f2-bb9e-04372cc7fcb6/9bcbc851-e2dc-45c1-affc-181b80be8fe5?org_if_sml=1123"
            alt="Rectangle826837"
            class="code-qr-scan-rectangle82"
          />
        </div>
        <span class="code-qr-scan-text83">
          <span>
            <span>KODY QR</span>
            <br />
            <span>NA POMOC SENIOROM</span>
          </span>
        </span>
      </div>
    </div>
    <div class="code-qr-scan-bar"></div>
  </div>
</div>
