<div class="navbar-logo">
    <div class="home-frame243">
        <div class="home-frame2241">
            <img src="/assets/logo.png" class="non-contrast-img" />
        </div>
        <div class="home-frame44">
        </div>
    </div>
</div>
<div class="form-container">
    <div class="image-center">
        <img src="/assets/dodatkoweDane.png" class="czesc-podstawowa-image" />
    </div>
    <div class="form-wrapper">
        <div class="form-frame99">
            <span class="form-text605"><span>Część 2 - dodatkowe dane</span></span>
            <span class="form-text607">
                <span>
                    <span>
                        W tej części formularza możesz uzupełnić dane, które dotyczą szczegółów Twojego zdrowia. Weź pod uwagę, że te informacje <br />
                        mogą być szczególnie przydatne dla ratowników medycznych lub lekarzy. Podobnie jak w 1. części formularza możesz <br />
                        uzupełnić tylko część danych albo ukryć je za pomocą suwaka w prawym górnym rogu ekranu.
                    </span>
                    <br />
                    <br />
                </span>
            </span>
        </div>

        <div class="frame295">
            <button class="button-przejdz-do" routerLink="/form8">
                <span class="form-text-button-przejdz-do "><span>Kontynuuj</span></span>
            </button>
            <button class="button-uzupelnij-pozniej" routerLink="/profile">
                <span class="form-text-uzupelnij-pozniej"><span>Dokończ później</span></span>
            </button>
        </div>
    </div>
</div>