<div class="navbar-logo">
    <div class="home-frame243">
        <div class="home-frame2241">
            <img src="/assets/logo.png" class="non-contrast-img" />
        </div>
        <div class="home-frame44">
        </div>
    </div>
</div>
<div class="image-center">
    <img src="/assets/deliveryConfirmed.png"
         alt="deliveryConfirmed"
         class="delivery-confirmed" />
</div>
<div class="frame-text-confirmed">
    <div class="frame-text-confirmed-title">
        Twoje zamówienie zostało zlecone do realizacji
    </div>
    <div class="frame-text-confirmed-text">
        Drukujemy Twoje metki i naklejki! Powiadomimy Cię emailem, kiedy paczka zostanie wysłana.
    </div>
</div>
<div class="buttons-box">
    <button routerLink="/profile" class="data-saved-button">
        <span class="data-saved-text06"><span>Zamknij</span></span>
    </button>
</div>
