<div class="delivery-confirmed-container">
  <div class="delivery-confirmed-popuppotwierdzeniezamwienia">
    <div class="close-popup" (click)="closePopup()">
      <img
        src="/assets/close-popup.png"
        alt="Vector4245"
      >
    </div>
    <img
      src="/assets/playground_assets/lineduotonemaplocationrouting24247-upqr.svg"
      alt="LineDuotoneMapLocationRouting24247"
      class="delivery-confirmed-line-duotone-map-location-routing2"
    />
    <div class="delivery-confirmed-frame48">
      <span class="delivery-confirmed-text">
        <span>Twoje zamówienie zostało zlecone do realizacji</span>
      </span>
      <span class="delivery-confirmed-text02">
        Drukujemy Twoje metki i naklejki!<br/>
        Powiadomimy Cię emailem, kiedy paczka zostanie wysłana.
      </span>
    </div>
    <button (click)="closePopup()" class="delivery-confirmed-button">
      <span class="delivery-confirmed-text09"><span>Powrót</span></span>
    </button>
  </div>
</div>
