<div class="navbar-logo">
    <div class="home-frame243">
        <div class="home-frame2241">
            <img src="/assets/logo.png" class="non-contrast-img" />
        </div>
        <div class="home-frame44">
        </div>
    </div>
</div>
<div class="form-container">
    <div class="image-center">
        <img src="/assets/czescPodstawowa.png" class="czesc-podstawowa-image" />
    </div>
  <div class="form-wrapper">
    <div class="form-frame99">
      <span class="form-text605"><span>Część 1 - dane podstawowe</span></span>
        <br />
      <span class="form-text607">
        <span>
            <span>
                Formularz składa się z 2 części:
                <ol>
                    <li>Dane podstawowe - są to dane, które są szczególnie istotne. Rekomendujemy, by oznaczyć je jako widoczne po <br />
                    zeskanowaniu kodu.</li>
                    <li>Dane dodatkowe - są to dane, które mogą okazać się pomocne w szczególnych przypadkach. Uzupełnij te, które uważasz za <br />
                    istotne w Twojej sytuacji.</li>
                </ol>
            </span>
            <span>
                Na początek uzupełnij dane, które rekomendujemy, by były widoczne po zeskanowaniu kodu. Dobraliśmy je na podstawie <br />
                rozmów z ratownikami medycznymi i lekarzami. Są to informacje, które  zwiększają szansę na szybką i skuteczną pomoc. <br />
                Pamiętaj jednak, że to Ty decydujesz, co będzie widoczne po zeskanowaniu kodu. O widoczności danych zdecydujesz za <br />
                pomocą suwaka w prawym górnym rogu ekranu.
            </span>
        </span>
      </span>
    </div>
    <div class="frame295">
        <button class="button-przejdz-do" routerLink="/form2"> 
            <span class="form-text-button-przejdz-do "><span>Przejdź do formularza</span></span>
        </button>
        <button class="button-uzupelnij-pozniej" routerLink="/profile">
            <span class="form-text-uzupelnij-pozniej"><span>Uzupełnij później</span></span>
        </button>
    </div>
  </div>
</div>