<div class="navbar-logo">
    <div class="home-frame243">
        <div class="home-frame2241">
            <img src="/assets/logo.png" class="non-contrast-img" />
        </div>
        <div class="home-frame44">
        </div>
    </div>
</div>
<div class="kodqr-text">
    <span class="kodqr-text1"><span>Uzupełnij dane dostawy</span></span>
    <br />
    <span class="kodqr-text2">Przygotowaliśmy dla Ciebie darmowy zestaw metek i naklejek z nadrukowanym kodem QR. Podaj adres, na który je<br />
    dostarczymy. Realizacja zamówienia może potrwać do 21 dni roboczych. O statusie zamówienia powiadomimy Cię mailem.</span>
</div>
<div class="delivery-data-container">
    <div class="delivery-data-popupdostawa">
        <div class="form d-flex">
            <div class="delivery-data-frame208">
                <div class="delivery-data-input">
                    <div class="delivery-data-label">
                        <span class="delivery-data-text07"><span>Imię</span></span>
                        <span class="delivery-data-text09">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input01" />
                </div>
                <div class="delivery-data-input02">
                    <div class="delivery-data-label1">
                        <span class="delivery-data-text10"><span>Nazwisko</span></span>
                        <span class="delivery-data-text12">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input03" />
                </div>
                <div class="delivery-data-input04">
                    <div class="delivery-data-label2">
                        <span class="delivery-data-text13"><span>Numer telefonu</span></span>
                        <span class="delivery-data-text15">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input05" />
                </div>
            </div>
            <div class="delivery-data-frame209">
                <div class="delivery-data-input06">
                    <div class="delivery-data-label3">
                        <span class="delivery-data-text16"><span>Ulica</span></span>
                        <span class="delivery-data-text18">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input07" />
                </div>
                <div class="delivery-data-input08">
                    <div class="delivery-data-label4">
                        <span class="delivery-data-text19">
                            <span>Numer domu/budynku</span>
                        </span>
                        <span class="delivery-data-text21">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input09" />
                </div>
                <div class="delivery-data-input10">
                    <div class="delivery-data-label5">
                        <span class="delivery-data-text22">
                            <span>Numer mieszkania</span>
                        </span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input11" />
                </div>
                <div class="delivery-data-input12">
                    <div class="delivery-data-label6">
                        <span class="delivery-data-text24"><span>Kod pocztowy</span></span>
                        <span class="delivery-data-text26">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input13" />
                </div>
                <div class="delivery-data-input14">
                    <div class="delivery-data-label7">
                        <span class="delivery-data-text27"><span>Miejscowość</span></span>
                        <span class="delivery-data-text29">*</span>
                    </div>
                    <input type="text" placeholder class="delivery-data-input15" />
                </div>
            </div>
        </div>
        <br /><br />
        <div class="buttons-box">
            <button routerLink="/delivery-confirmed" class="data-saved-button">
                <span class="data-saved-text06"><span>Zamów metki</span></span>
            </button>
            <button routerLink="/profile" class="data-saved-button1">
                <span class="data-saved-text08"><span>Wróć do widoku konta</span></span>
            </button>
        </div>
    </div>
</div>
