:host { 
  display: contents; 
}
.delivery-data-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  justify-content: space-between;
  width: 100%;
}

.close-popup {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

.delivery-data-popupdostawa {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  max-height: 800px;
  max-width: 1016px;
  flex-direction: column;
  padding: 60px 100px;
}

.delivery-data-frame210 {
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  margin-bottom: 15px;
}
.delivery-data-text {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 1.5rem;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.delivery-data-text02 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 1rem;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-frame208 {
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.delivery-data-input {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text07 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text09 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input01 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input02 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text10 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text12 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input03 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input04 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.delivery-data-label2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text13 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text15 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input05 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-frame209 {
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.delivery-data-input06 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label3 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text16 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text18 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input07 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input08 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label4 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text19 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text21 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input09 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label5 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text22 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input11 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.delivery-data-label6 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text24 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text26 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input13 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-input14 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.delivery-data-label7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 4px;
}
.delivery-data-text27 {
  color: var(--dl-color-gray-black);
  height: auto;
  opacity: 0.80;
  font-size: 1rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-text29 {
  color: var(--dl-color-qr-red);
  height: auto;
  opacity: 0.80;
  font-size: 0.8125rem;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 1.25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-data-input15 {
  width: 320px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(191, 191, 191, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.delivery-data-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    position: relative;
    width: 380px;
    height: 48px;
    background: #0B36DB;
    border-radius: 30px;
}
.delivery-data-text30 {
  color: var(--dl-color-gray-white);
  height: auto;
  flex-grow: 1;
  font-size: 1rem;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.375rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media screen and (max-width: 845px) {
  .form {
    flex-direction: column;
  }
}

.delivery-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.navbar-logo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 366px;
    position: relative;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom: 0.5px solid #BFBFBF;
}

.kodqr-text {
    margin-left: calc(50% - 321px/2 - 347.5px);
    margin-top: 70px;
}

.kodqr-text1 {
    position: relative;
    width: 321px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.kodqr-text2 {
    position: relative;
    width: 1016px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.data-saved-button {
    width: 480px;
    height: 48px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 15px;
    border-radius: 30px;
    justify-content: center;
    background-color: var(--dl-color-qr-blue03);
}

.data-saved-text06 {
    color: var(--dl-color-gray-white);
    height: auto;
    flex-grow: 1;
    font-size: 1rem;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.375rem;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.data-saved-button1 {
    width: 480px;
    display: flex;
    height: 48px;
    padding: 0 16px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(10, 53, 218, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    justify-content: center;
}

.data-saved-text08 {
    color: var(--dl-color-qr-blue03);
    height: auto;
    flex-grow: 1;
    font-size: 1rem;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.375rem;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.buttons-box {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    background-color: var(--dl-color-gray-white);
    flex-direction: column;
    justify-content: center;
}