
<div class="form-container">
    <div class="form-wrapper">
        <div class="frame277">
            <div class="frame272">
                <span class="text-progressbar"><span>Część 1 - Dane najważniejsze 1/5</span></span>
            </div>
            <div class="progress-line">
                <div class="progress-line-blue"></div>
                <div class="progress-line-white"></div>
            </div>
        </div>
        <br /><br /><br /><br /><br />
         <form [formGroup]="userForm" class="form-formularzdanych">
            <div formGroupName="basic" class="form-section">
                <div class="frame294">
                    <span class="form-category-title"><span>Dane podstawowe</span></span>
                    <div class="frame263">
                        <span class="form-text-visibility"><span>Czy chcesz, by te dane były widoczne?</span></span>
                        <button [class.hidden]="!userForm.get(['basic', 'firstNameVisibility'])?.value" class="form-button011 recommended">
                            <img id="visibility" [src]="!userForm.get(['basic', 'firstNameVisibility'])?.value ? '/assets/visibilityOff.png' :
                        '/assets/visibilityOn.png'"
                                 alt="UnionI394"
                                 class=".form-button-visibility" />
                            <input style="cursor: pointer" type="checkbox" formControlName="firstNameVisibility" [checked]="userForm.get(['basic', 'firstNameVisibility'])?.value" />
                        </button>
                    </div>
                </div>
                <div class="section-content collapsed form-frame132" id="section1">
                    <div class="form-frame134">
                        <div class="form-input">
                            <div class="form-label">
                                <span class="form-text004"><span>Imię</span></span>
                            </div>
                            <input type="text" formControlName="firstName" class="form-input01" />
                        </div>
                    </div>
                    <div class="form-frame134">
                        <div class="form-input02">
                            <div class="form-label01">
                                <span class="form-text008"><span>Nazwisko</span></span>
                            </div>
                            <input type="text" formControlName="lastName" class="form-input03" />
                        </div>
                    </div>
                    <div class="form-frame134">
                        <div class="form-input04">
                            <div class="form-label02">
                                <span class="form-text012"><span>Rok urodzenia</span></span>
                            </div>
                            <input type="text" formControlName="yearOfBirth" class="form-input05" />
                        </div>
                    </div>
                    <div class="form-frame134">
                        <div class="form-input06">
                            <div class="form-label03">
                                <span class="form-text016"><span>PESEL</span></span>
                            </div>
                            <input type="text" formControlName="pesel" class="form-input07" />
                        </div>
                    </div>
                    <div class="form-frame1351 tel">
                        <div>
                            <div class="form-label03">
                                <span class="form-text016"><span>Tel do osoby kontaktowej [1]</span></span>
                            </div>
                            <div class="form-frame237">
                                <div class="form-input14">
                                    <div class="form-label070">
                                        <span class="form-text038"><span>Kod kierunkowy</span></span>
                                    </div>
                                    <input type="text" formControlName="phonePrefix" class="form-input15" />
                                </div>
                                <div class="form-input16">
                                    <div class="form-label070">
                                        <span class="form-text038"><span>Numer telefonu</span></span>
                                    </div>
                                    <input type="text" formControlName="phone" class="form-input17" />
                                </div>
                            </div>
                            <span class="info">
                                Zacznij od kodu kierunkowego. Dla Polski będzie to +48.<br>Następnie podaj 9-cyfrowy numer telefonu.
                            </span>
                        </div>
                    </div>
                    <div class="form-frame1351 tel">
                        <div>
                            <div class="form-label03">
                                <span class="form-text016"><span>Tel do osoby kontaktowej [2]</span></span>
                            </div>
                            <div class="form-frame237">
                                <div class="form-input14">
                                    <div class="form-label070">
                                        <span class="form-text038"><span>Kod kierunkowy</span></span>
                                    </div>
                                    <input type="text" formControlName="phone2Prefix" class="form-input15" />
                                </div>
                                <div class="form-input16">
                                    <div class="form-label070">
                                        <span class="form-text038"><span>Numer telefonu</span></span>
                                    </div>
                                    <input type="text" formControlName="phone2" class="form-input17" />
                                </div>
                            </div>
                            <span class="info">
                                Zacznij od kodu kierunkowego. Dla Polski będzie to +48.<br>Następnie podaj 9-cyfrowy numer telefonu.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="userData.lastUpdated" class="form-frame227">
                <span class="form-text603">
                    <span>*Data ostatniej aktualizacji danych: {{userData.lastUpdated | date: 'd.M.yy'}}</span>
                </span>
            </div>
            <div class="bottom-btns d-flex">
                <button routerLink="/profile" class="form-button148">
                    <span class="form-text620"><span>Uzupełnij później</span></span>
                </button>
                <button class="form-button147" (click)="saveForm()">
                    <img src="/assets/playground_assets/component2i683-nz3d.svg"
                         alt="Component2I683"
                         class="form-component223 non-contrast-img" />
                    <img src="/assets/save-contrast.png"
                         alt="Component2I683"
                         class="form-component223 contrast-img" />
                    <span class="form-text618"><span>Dalej</span></span>
                </button>
            </div>
        </form>
    </div>
</div>