
<div class="navbar-logo">
    <div class="home-frame243">
        <div class="home-frame2241">
            <img src="/assets/logo.png" class="non-contrast-img" />
        </div>
        <div class="home-frame44">
        </div>
    </div>
</div>
<br /><br />
<div class="form-container">
    <div class="form-wrapper">
        <div class="frame277">
            <div class="frame272">
                <span class="text-progressbar"><span>Część 1 - Dane najważniejsze</span></span>
                <span class="text-progressbar"><span>1 / 5</span></span>
            </div>
            <div class="progress-line">
                <div class="progress-line-blue"></div>
                <div class="progress-line-white"></div>
            </div>
        </div>
        <br /><br /><br /><br /><br />
         <form [formGroup]="userForm" class="form-formularzdanych">
             <div formGroupName="basic" class="form-section">
                 <div class="frame294">
                     <span class="form-category-title"><span>Dane podstawowe</span></span>
                     <div class="frame263">
                         <span class="form-text-visibility"><span>Czy chcesz, by te dane były widoczne?</span></span>
                         <button [class.hidden]="!userForm.get(['basic', 'firstNameVisibility'])?.value" class="form-button011 recommended">
                             <img id="visibility" [src]="!userForm.get(['basic', 'firstNameVisibility'])?.value ? '/assets/visibilityOff.png' :
                        '/assets/visibilityOn.png'"
                                  alt="UnionI394"
                                  class=".form-button-visibility" />
                             <input style="cursor: pointer" type="checkbox" formControlName="firstNameVisibility" [checked]="userForm.get(['basic', 'firstNameVisibility'])?.value" />
                         </button>
                     </div>
                 </div>
                 <br /><br /><br />
                 <div class="section-content collapsed form-frame132" id="section1">
                     <div class="form-frame134">
                         <div class="form-input">
                             <div class="form-label">
                                 <span class="form-text004"><span>Imię</span></span>
                             </div>
                             <input type="text" formControlName="firstName" class="form-input01" />
                         </div>
                     </div>
                     <div class="form-frame134">
                         <div class="form-input02">
                             <div class="form-label01">
                                 <span class="form-text008"><span>Nazwisko</span></span>
                             </div>
                             <input type="text" formControlName="lastName" class="form-input03" />
                         </div>
                        <div class="input-info">
                            <div class="frame292">
                                <img src="/assets/info.png" class="info" />
                                <span><span class="text-info">Przydatne w wypadku przyjęcia na SOR lub do szpitala</span></span>
                            </div>
                        </div>
                      </div>
                     <div class="form-frame134">
                         <div class="form-input04">
                             <div class="form-label02">
                                 <span class="form-text012"><span>Rok urodzenia</span></span>
                             </div>
                             <input type="text" formControlName="yearOfBirth" class="form-input05" />
                         </div>
                         <div class="input-info">
                            <div class="frame292">
                                <img src="/assets/info.png" class="info" />
                                <span><span class="text-info">Przydatne w wypadku przyjęcia na SOR lub do szpitala</span></span>
                            </div>
                         </div>
                     </div>                     
                 </div>
             </div>
             <br /><br /><br /><br />
             <div class="bottom-btns d-flex">
                 <button class="button-wstecz" (click)="saveForm('back')">
                     <img src="/assets/playground_assets/wstecz2.svg"
                          alt="Wstecz" />
                 </button>
                 <button class="button-uzupelnijpozniej" (click)="saveForm('profile')">
                     <img src="/assets/playground_assets/uzupelnij-pozniej.svg"
                          alt="Uzupelnijpozniej" />
                 </button>
                 <button class="button-dalej" (click)="saveForm('next')">
                     <img src="/assets/playground_assets/dalej2.svg"
                          alt="Dalej" />
                 </button>
             </div>
        </form>
    </div>
</div>